# Node modules
node_modules
.env
package-lock.json
public/node_modules
public/yarn.lock
public/yarn-error.log
dist

# Adonis directory for storing tmp files
tmp


# The development sqlite file
database/development.sqlite

