.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.-wrapper {
      @media #{$mq-mobile} {
        flex-direction: column;
      }
    }

    .menu {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                list-style: none;
                padding: 0 1rem;
                a{
                    color: white;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        content: '';
                        width: 0;
                        height: 2px;
                        background-color: $green;
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        margin-left: -10px;
                        transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
                    }
                    &:hover {
                        &:after {
                            width: 20px;
                        }
                    }
                    &.active {
                        font-family: 'Panton-Bold';
                        color:$green;
                        &:after {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

