header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: black;
    > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        @media #{$mq-tablet} {
            flex-direction: column;
        }
    }
}